    <div class="container">
      <form>
        <div class="form-group row">

          <div class="col-sm-2">
            <button type="submit" class="btn btn-secondary">Buscar</button>
          </div>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Folio">
          </div>
        </div>

      </form>
    </div>


<div class="container">



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Folio</th>
      <th scope="col">No. de Orden</th>
      <th scope="col">Cliente</th>
      <th scope="col">Acción</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orden of ordenes">
      <td>{{ orden.idOrd }}</td>
      <td>{{ orden.noOrd }}</td>
      <td>{{ orden.cliente.nomClient }}</td>
      <td>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse1">Accion</a>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item"><a >Ver</a></li>
                <li class="list-group-item"><a >Actualizar</a></li>
                <li class="list-group-item" ><a (click)='delete(orden)' >Eliminar</a></li>
              </ul>
            </div>
          </div>
        </div>
        </td>
    </tr>
  </tbody>
</table>
<div class="col-sm-2">
  <button type="submit" class="btn btn-secondary">Agregar</button>
</div>
</div>
