<div class="container">
<form>
  <div class="form-group">
    <label for="Id Usuario">Id usuario</label>
    <div class="form-inline">
        <input type="text" class="form-control"  class="form-control"[(ngModel)]="usuario.idUsu"name="idUsuario"placeholder="">
        <small id="RFC cliente HelpInline" class="text-muted">
        </small>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputNombreUsuario">Nombre</label>
      <input type="text" class="form-control"[(ngModel)]="usuario.nomUsu"name="nombreUsuario" placeholder="Ingrese el nombre del usuario">
    </div>
    <div class="form-group col-md-6">
      <label for="inputApellidoPaternoUsuario">Apellido paterno</label>
      <input type="text" class="form-control"[(ngModel)]="usuario.apPaUsu"name="nombreUsuario" placeholder="Ingrese el apellido paterno del usuario">
    </div>
    <div class="form-group col-md-6">
      <label for="inputApellidoMaternoUsuario">Apellido materno</label>
      <input type="text" class="form-control" [(ngModel)]="usuario.apMaUsu"name="nombreUsuario"placeholder="Ingrese el apellido maternodel usuario">
    </div>
  </div>
  <button class="btn btn-secondary" role="button" (click)='create()' *ngIf="!banderaform else elseBlock">Crear</button>

<ng-template #elseBlock>
<button class="btn btn-secondary" role="button" (click)='update()'>Editar</button>
</ng-template>
</form>
</div>
