<div class="container">
  <form>
    <div class="form-group row">

      <div class="col-sm-2">
        <button type="submit" class="btn btn-secondary">Buscar</button>
      </div>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Id Cliente o Nombre del clienete">
      </div>
    </div>

  </form>
</div>


<div class="container">



<table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col">Id Cliente</th>
  <th scope="col">Apellido Paterno</th>
  <th scope="col">Apellido Materno</th>
  <th scope="col">Nombre</th>
  <th soope="col">Telefono</th>
  <th soope="col">e-mail</th>
  <th soope="col">Acción</th>


</tr>
</thead>
<tbody>
<tr *ngFor="let cliente of clientes">
  <td>{{cliente.idClient}}</td>
  <td>{{cliente.apPaClient}}</td>
  <td>{{cliente.apMaClient}}</td>
  <td>{{cliente.nomClient}}</td>
  <td>{{cliente.telClient}}</td>
  <td>{{cliente.emailClient}}</td>
  <td>
    <!-- Default dropright button -->
    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Más
      </button>
      <div class="dropdown-menu">
        <ul class="list-group">
          <li class="list-group-item" [routerLink]="['/cliente/formulario', cliente.idClient]" ><a >Actualizar</a></li>
          <li class="list-group-item" ><a (click)='delete(cliente)' >Eliminar</a></li>
        </ul>
      </div>
    </div>
  </td>
  </tr>

  </tbody>
</table>
<button type="submit" class="btn btn-secondary" routerLink="/cliente/formulario">Agregar</button>
</div>
